* {
  box-sizing: border-box;
}

p {
  margin: 5px;
}

.header {
  padding: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 10px;
}

.choices div {
  margin: 0px;
}

.choice-station {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 20px auto;
    border-radius: 2rem;
}

.choice-neighborhood {
  width: 475px;
  height: 200px;
  background-color: red;
  margin: 20px auto;
  border-radius: 2rem;
}

.choice-text {
  color: white;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 1.15rem auto 0 auto;
}

.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;

}

.description {
  font-weight: 200;
}

.description span{
  font-weight: bold;
}